* text=auto

inst/htmlwidgets/*.js -diff
inst/htmlwidgets/*.css -diff
package-lock.json -diff

# generated
inst/htmlwidgets/*.js linguist-generated
inst/htmlwidgets/*.css linguist-generated
R/deckgl-layers.R linguist-generated
R/deckgl-validators.R linguist-generated
R/globals.R linguist-generated

# docs
man/* linguist-documentation

# ejs
*.ejs -linguist-detectable
