@import "@fontsource/roboto";

:global(.rdeck) {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  position: relative;
}

:global(.rdeck) :is(*, *:before, *:after) {
  box-sizing: inherit;
}

:global(.rdeck.kepler) {
  background-color: hsl(30, 2%, 20%);
}

:global(.rdeck.light) {
  background-color: hsl(60, 10%, 96%);
}

.control-container {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.control-container > :not(:first-child) {
  margin-top: 4px;
}

.control-container.left {
  top: 20px;
  left: 20px;
  max-height: calc(100% - 30px);
}

.control-container.right {
  top: 10px;
  right: 10px;
  max-height: calc(100% - 20px);
}

:global(.rdeck) {
  scrollbar-width: 12px;
  scrollbar-color: hsla(218, 8%, 40%, 0.6) transparent;
}

:global(.rdeck) ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

:global(.rdeck.kepler) ::-webkit-scrollbar-thumb {
  background-color: hsla(218, 8%, 50%, 0.3);
}

:global(.rdeck.kepler) ::-webkit-scrollbar-thumb:hover {
  background-color: hsla(218, 8%, 40%, 0.6);
}

:global(.rdeck.kepler) ::-webkit-scrollbar-thumb:active {
  background-color: hsla(218, 8%, 70%, 0.4);
}

:global(.rdeck.light) ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 2%, 50%, 0.3);
}

:global(.rdeck.light) ::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 2%, 70%, 0.6);
}

:global(.rdeck.light) ::-webkit-scrollbar-thumb:active {
  background-color: hsla(0, 2%, 40%, 0.4);
}

:global(.rdeck) ::-webkit-scrollbar-track:vertical {
  box-shadow: inset 0.5px 0 0 0 var(--separator-color);
}
