.legend {
  position: absolute;
  top: 10px;
  right: 10px;
  max-height: 500px;
  overflow-y: auto;
  width: 180px;
  pointer-events: none;
  user-select: none;

  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 1px;

  color: var(--color);
  background-color: var(--background-color);
}

:global(.kepler) .legend {
  --focus-color: hsl(0, 0%, 94%);
  --color: hsl(219, 12%, 67%);
  --muted-color: hsl(218, 11%, 47%);
  --background-color: hsl(225, 14%, 16%);
  --border-color: hsl(217, 13%, 26%);
}

:global(.light) .legend {
  --focus-color: hsl(0, 0%, 3%);
  --color: hsl(0, 2%, 15%);
  --muted-color: hsl(0, 2%, 52%);
  --background-color: hsl(0, 0%, 98%);
  --border-color: hsl(5, 0%, 85%);
}

.layer {
  padding: 10px 12px;
}

.layer + .layer {
  border-top: 1px var(--border-color) solid;
}

.layer-name {
  font-size: 12px;
  margin-bottom: 2px;
  color: var(--focus-color);
}

.scale {
  font-size: 11px;
}

.scale + .scale {
  margin-top: 10px;
}

.scale-name,
.scale-by {
  color: var(--muted-color);
}

.color-scale {
  margin-top: 6px;
  font-size: 9px;
  width: 100%;
}

.tick {
  fill: var(--color);
  font-size: 10px;
}

.line {
  stroke: var(--background-color);
  stroke-width: 0.5px;
}
