@import "theme.css";

.control-button {
  @mixin button;
  @mixin map-widget;
  @mixin shadow;
  @mixin transition;
  padding: 5px;
}

.control-button:hover {
  color: var(--hover-color);
  background-color: var(--hover-background-color);
}

svg.icon {
  font-size: 1.125rem;
}

.panel {
  @mixin shadow;
  @mixin map-widget;
  margin-left: -7px;
  max-width: 224px;
  font-size: 12px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.panel-header {
  @mixin transition;
  color: var(--focus-color);
}

.panel-header {
  background: var(--focus-background-color);
  box-shadow: 0 1px 0 var(--separator-color);
}

.panel-header:hover {
  background: var(--hover-focus-background-color);
}

.panel-button {
  @mixin button;
  padding: 5px 12px;
  width: 100%;
}

.panel-button > .icon {
  margin-right: 12px;
}

.panel-content {
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-y: auto;
}

.toggle {
  @mixin transition;
  padding: 2px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle:hover {
  color: var(--hover-color);
  background-color: var(--hover-background-color);
}

.not-visible {
  color: var(--muted-color);
}

.toggle > .label {
  @mixin ellipsis;
  margin-left: 12px;
}

.toggles-container > .toggle {
  padding-left: 24px;
}
