@import "theme.css";

.button {
  @mixin shadow;
  @mixin transition;
  @mixin map-widget;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 5px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;

}

.button:hover {
  color: var(--hover-color);
  background-color: var(--hover-background-color);
}

svg.icon {
  font-size: 1.25rem;
}

.selector-panel {
  @mixin shadow;
  @mixin map-widget;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -7px;
  max-width: 212px;
  font-size: 12px;
}

.visibility-toggle {
  @mixin transition;
  padding: 2px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.visibility-toggle:hover {
  color: var(--hover-color);
  background-color: var(--hover-background-color);
}

.not-visible {
  color: var(--muted-color);
}

.open {
  color: var(--active-color);
  background-color: var(--active-background-color);
}

.open:hover {
  color: var(--hover-active-color);
  background-color: var(--hover-active-background-color);
}

.visibility-toggle > .label {
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
