.tooltip {
  max-width: 360px;
  padding: 10px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  position: absolute;

  z-index: 1;
  pointer-events: none;
  user-select: none;

  color: var(--color);
  background-color: var(--background-color);
}

:global(.kepler) .tooltip {
  /* https://github.com/uber/deck.gl/blob/master/modules/core/src/lib/tooltip.js */
  --focus-color: hsl(0, 0%, 93%);
  --color: hsl(0, 0%, 89%);
  --muted-color: hsl(219, 12%, 65%);
  --background-color: hsl(212, 19%, 20%);
}

:global(.light) .tooltip {
  --focus-color: hsl(0, 0%, 4%);
  --color: hsl(0, 0%, 16%);
  --muted-color: hsl(0, 2%, 50%);
  --background-color: hsl(0, 0%, 94%);
}

.layer-name {
  font-size: 12px;
  margin-bottom: 6px;
  color: var(--focus-color);
}

.table {
  border-collapse: separate;
  /* add spacing between cells */
  border-spacing: 12px 3px;
  margin: -3px -12px;
}

.field-name,
.field-value {
  font-size: 11px;
  line-height: 1.3;
  padding: 0;
}

.field-name {
  color: var(--muted-color);
}

.field-value {
  text-align: right;
  white-space: pre-line;
}

